# Q 1 Write a code to reverse a string

In [1]:
# Function to reverse a string
def reverse_string(s):
    return s[::-1]

# Example usage
string = "Hello, World!"
reversed_string = reverse_string(string)
print("Reversed string:", reversed_string)

Reversed string: !dlroW ,olleH

# New Section Q 2  Write code to count the number of vowels in  string.

In [2]:
# Function to count vowels in a string
def count_vowels(s):
    vowels = "aeiouAEIOU"  # List of vowels (both lowercase and uppercase)
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

# Example usage
string = "Hello, World!"
vowel_count = count_vowels(string)
print("Number of vowels:", vowel_count)

Number of vowels: 3

# New Section Q 3 Write a code to check if a given string is palindrome or not.

In [3]:
# Function to check if a string is a palindrome
def is_palindrome(s):
    # Convert the string to lowercase and remove non-alphanumeric characters
    s = ''.join(char.lower() for char in s if char.isalnum())

    # Check if the string is the same forwards and backwards
    return s == s[::-1]

# Example usage
string = "A man, a plan, a canal: Panama"
if is_palindrome(string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

# New Section Q 4 write a code to check if two given strings are anagrams of each other

In [4]:
# Function to check if two strings are anagrams
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = ''.join(str1.lower().split())
    str2 = ''.join(str2.lower().split())

    # Check if sorted characters of both strings are equal
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "Listen"
string2 = "Silent"
if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

# New Section Q 5 Write a code to find the occurencce of a given substring within another string

In [5]:
# Function to count occurrences of a substring in a string
def count_substring(main_string, substring):
    return main_string.count(substring)

# Example usage
main_string = "hello world, hello everyone"
substring = "hello"
occurrences = count_substring(main_string, substring)
print(f"The substring '{substring}' occurs {occurrences} times in the main string.")

The substring 'hello' occurs 2 times in the main string.

# New Section Q 6 Write a code to perform basic string compression using the counts of repeated characters

In [6]:
# Function to perform basic string compression
def compress_string(s):
    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    # Adding the last character and its count
    compressed.append(s[-1] + str(count))

    # Convert the list to a string
    compressed_string = ''.join(compressed)

    # Return the compressed string if it's shorter than the original, otherwise return the original
    return compressed_string if len(compressed_string) < len(s) else s

# Example usage
string = "aaabcccccaaa"
compressed_string = compress_string(string)
print("Compressed string:", compressed_string)

Compressed string: a3b1c5a3

# New Section Q 7 Write a code to determine if string has all unique characters

In [7]:
# Function to check if all characters in a string are unique
def has_all_unique_characters(s):
    # Create a set of characters from the string
    return len(set(s)) == len(s)

# Example usage
string = "abcdefg"
if has_all_unique_characters(string):
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

The string has all unique characters.

# New Section Q 8 Write a code to convert a given string to lowercase or uppercase

In [8]:
# Function to convert a string to lowercase
def to_lowercase(s):
    return s.lower()

# Example usage
string = "Hello, World!"
lowercase_string = to_lowercase(string)
print("Lowercase string:", lowercase_string)

Lowercase string: hello, world!

In [9]:
# Function to convert a string to uppercase
def to_uppercase(s):
    return s.upper()

# Example usage
string = "Hello, World!"
uppercase_string = to_uppercase(string)
print("Uppercase string:", uppercase_string)

Uppercase string: HELLO, WORLD!

# New Section Q 9 Write a code to count the numbers of words in a string.

In [10]:
# Function to count the number of words in a string
def count_words(s):
    # Split the string into words based on whitespace and count the number of words
    words = s.split()
    return len(words)

# Example usage
string = "Hello, how are you doing today?"
word_count = count_words(string)
print("Number of words:", word_count)

Number of words: 6

# New Section Q 10 Write a code to concatenate two strings withput using + operators.

In [11]:
# Function to concatenate two strings using join
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

# Example usage
string1 = "Hello, "
string2 = "World!"
concatenated_string = concatenate_strings(string1, string2)
print("Concatenated string:", concatenated_string)

Concatenated string: Hello, World!

# New Section Q 11 Write a code to remove all occurences of a specific elements from a list

In [1]:
# Function to remove all occurrences of a specific element from the list
def remove_element(lst, element):
    return [x for x in lst if x != element]

# Example usage
my_list = [1, 2, 3, 4, 3, 5, 3, 6]
element_to_remove = 3
new_list = remove_element(my_list, element_to_remove)
print("Updated list:", new_list)

Updated list: [1, 2, 4, 5, 6]

# New Section Q 12 Implement a code to find the second largest numbers in a given list of integers

In [2]:
# Function to find the second largest number
def second_largest(nums):
    # Remove the largest number from the list
    largest = max(nums)
    nums.remove(largest)

    # Find the largest number again, which is now the second largest
    second_largest = max(nums)

    return second_largest

# Example usage
nums = [12, 35, 1, 10, 34, 1, 35]
result = second_largest(nums)
print("The second largest number is:", result)

The second largest number is: 35

# New Section Q 13 create a code to count the occurence of each element in a list and return a dictionary with elements as keys and their counts as values

In [3]:
# Function to count occurrences of each element in a list
def count_occurrences(lst):
    count_dict = {}
    for item in lst:
        if item in count_dict:
            count_dict[item] += 1
        else:
            count_dict[item] = 1
    return count_dict

# Example usage
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
result = count_occurrences(my_list)
print(result)

{1: 1, 2: 2, 3: 3, 4: 4}

# New Section Q 14 Write a code to reverse a list in-place without using any built-in reverse fuunctions

In [4]:
# Function to reverse a list in-place
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    # Swap elements until the pointers meet in the middle
    while left < right:
        # Swap the elements at left and right
        lst[left], lst[right] = lst[right], lst[left]
        # Move the pointers towards the center
        left += 1
        right -= 1

# Example usage
my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

# New Section Q 15 Implement a code to find and remove duplicates from a list while preserving the original orders of elements

In [5]:
# Function to remove duplicates while preserving order
def remove_duplicates(lst):
    seen = set()  # Set to store seen elements
    result = []   # List to store the result without duplicates

    for item in lst:
        if item not in seen:
            result.append(item)  # Add item to the result if it's not a duplicate
            seen.add(item)       # Mark the item as seen

    return result

# Example usage
my_list = [1, 2, 2, 3, 4, 3, 5, 1, 6]
unique_list = remove_duplicates(my_list)
print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5, 6]

# New Section Q 16 Create a code to check if a given list is sorted or not

In [6]:
# Function to check if the list is sorted
def is_sorted(lst):
    # Iterate through the list and compare each element with the next one
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:  # If the current element is greater than the next
            return False
    return True

# Example usage
my_list = [1, 2, 3, 4, 5]
result = is_sorted(my_list)
print("Is the list sorted?", result)

Is the list sorted? True

# New Section Q 17 Write a code to merge two sorted list into a single sorted list

In [7]:
# Merge two sorted lists using built-in sorted function
def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

# Example usage
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
result = merge_sorted_lists(list1, list2)
print("Merged sorted list:", result)

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

# New Section Q 18 implement a code to find the intersection of two given lists

In [8]:
# Function to find the intersection of two lists
def intersection(list1, list2):
    # Convert lists to sets and find the intersection
    return list(set(list1) & set(list2))

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = intersection(list1, list2)
print("Intersection of the lists:", result)

Intersection of the lists: [4, 5]

# New Section Q 19 Create a code to find the union of two lists without duplicates

In [9]:
# Function to find the union of two lists without duplicates
def union(list1, list2):
    # Convert lists to sets and find the union
    return list(set(list1) | set(list2))

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = union(list1, list2)
print("Union of the lists:", result)

Union of the lists: [1, 2, 3, 4, 5, 6, 7, 8]

# New Section Q 20 Write a code to shuffle the given list randomly without using any built in shufle functions

In [10]:
import random

# Function to shuffle a list randomly
def shuffle_list(lst):
    # Iterate over the list in reverse order
    for i in range(len(lst) - 1, 0, -1):
        # Pick a random index from 0 to i
        j = random.randint(0, i)
        # Swap the elements at indices i and j
        lst[i], lst[j] = lst[j], lst[i]

# Example usage
my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print("Shuffled list:", my_list)

Shuffled list: [1, 2, 3, 5, 4]

# New Section Q 21 Write a code that takes two tuples as inputs and returns a new tuple containing elements that are common to both input tuples

In [11]:
# Function to find common elements between two tuples
def common_elements(tuple1, tuple2):
    # Convert tuples to sets and find the intersection
    common_set = set(tuple1) & set(tuple2)
    # Convert the result back to a tuple
    return tuple(common_set)

# Example usage
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print("Common elements:", result)

Common elements: (4, 5)

# New Section Q 22 Create a code that prompts the user to enter two sets of integers separated by commas.Then print the intersection of these two sets.

In [14]:
# Function to get a set of integers from user input
def get_integer_set(prompt):
    user_input = input(prompt)
    # Convert the input string to a set of integers
    return set(map(int, user_input.split(',')))

# Prompt the user to enter two sets of integers
set1 = get_integer_set("Enter the first set of integers separated by commas: ")
set2 = get_integer_set("Enter the second set of integers separated by commas: ")

# Find the intersection of the two sets
intersection = set1 & set2

# Print the intersection
print("Intersection of the two sets:", intersection)

Enter the first set of integers separated by commas: 1,2,1,3
Enter the second set of integers separated by commas: 1,3,4,5,2
Intersection of the two sets: {1, 2, 3}

# New Section Q 23 Write a code to concatenate two tuples.The function should takes two tuples as  input and return a new tuple containing elements from both input tuples

In [15]:


# Function to concatenate two tuples
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples
    return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

# New Section Q 24 Develop the code that prompts the user to input two sets of strings.then,print the elements that are present in the first set but not in the second test.

In [16]:
# Function to get a set of strings from user input
def get_string_set(prompt):
    user_input = input(prompt)
    # Convert the input string to a set of strings
    return set(user_input.split(','))

# Prompt the user to enter two sets of strings
set1 = get_string_set("Enter the first set of strings separated by commas: ")
set2 = get_string_set("Enter the second set of strings separated by commas: ")

# Find elements present in set1 but not in set2
difference = set1 - set2

# Print the result
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings separated by commas: 2,3,4,4,4,3,2,
Enter the second set of strings separated by commas: 2,3,45,3,2,3,4
Elements in the first set but not in the second set: {''}

# New Section Q 25 Create a code that takes a  tuple and two integers as input ,The fxn should return a new tuple containing elements from a original tuple within the specified range of indices

In [17]:
# Function to get a sub-tuple from a tuple within a specified range of indices
def slice_tuple(original_tuple, start_index, end_index):
    # Return the sub-tuple from start_index to end_index (exclusive)
    return original_tuple[start_index:end_index]

# Example usage
original_tuple = (10, 20, 30, 40, 50, 60, 70)
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))
result = slice_tuple(original_tuple, start_index, end_index)
print("Sub-tuple:", result)

Enter the start index: 2
Enter the end index: 7
Sub-tuple: (30, 40, 50, 60, 70)

# New Section Q 26 Write a code that prompts the user to input two sets of characters .then print the union of these two sets.

In [18]:
# Function to get a set of characters from user input
def get_char_set(prompt):
    user_input = input(prompt)
    # Convert the input string to a set of characters
    return set(user_input)

# Prompt the user to enter two sets of characters
set1 = get_char_set("Enter the first set of characters: ")
set2 = get_char_set("Enter the second set of characters: ")

# Find the union of the two sets
union_set = set1 | set2

# Print the result
print("Union of the two sets:", union_set)

Enter the first set of characters: 23
Enter the second set of characters: 12
Union of the two sets: {'2', '3', '1'}

# New Section Q 27 Develop the codes that takes the tuple of integer as input,The fxn should return the max and min values from the tuple using tuple unpacking

In [19]:
# Function to find the maximum and minimum values from a tuple
def find_max_min(values_tuple):
    # Use built-in functions to find max and min
    max_value = max(values_tuple)
    min_value = min(values_tuple)
    # Return max and min values as a tuple
    return max_value, min_value

# Example usage
# Input: tuple of integers
values_tuple = tuple(map(int, input("Enter a tuple of integers separated by commas: ").split(',')))

# Get max and min values
max_value, min_value = find_max_min(values_tuple)

# Print the result
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Enter a tuple of integers separated by commas: 23,43,23,12,1,2,3
Maximum value: 43
Minimum value: 1

# New Section Q 28 Create a code that defines two sets of integrs.then print the union,intersections and differnces of these two sets.

In [20]:
# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the union of the two sets
union_set = set1 | set2

# Calculate the intersection of the two sets
intersection_set = set1 & set2

# Calculate the difference of the two sets
difference_set1_2 = set1 - set2
difference_set2_1 = set2 - set1

# Print the results
print("Union of the two sets:", union_set)
print("Intersection of the two sets:", intersection_set)
print("Difference (set1 - set2):", difference_set1_2)
print("Difference (set2 - set1):", difference_set2_1)

Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

# New Section Q 29 Write a code that takes the tuple and element as input, the fxn should return the count of occurences of the given elements in the tuple

In [22]:
# Function to count occurrences of an element in a tuple
def count_occurrences(tpl, element):
    # Return the count of the element in the tuple
    return tpl.count(element)

# Example usage
# Input: tuple and element
tpl = tuple(map(int, input("Enter the tuple of integers separated by commas: ").split(',')))
element = int(input("Enter the element to count occurrences of: "))

# Get the count of occurrences
count = count_occurrences(tpl, element)

# Print the result
print(f"Count of element {element} in the tuple: {count}")

Enter the tuple of integers separated by commas: 2,3,4,5,6,6,5
Enter the element to count occurrences of: 6
Count of element 6 in the tuple: 2

# New Section Q 30 Develop the code that prompts the user to input two sets of strings.Then print the symmetric difference of these two sets

In [23]:
# Function to get a set of strings from user input
def get_string_set(prompt):
    user_input = input(prompt)
    # Convert the input string to a set of strings
    return set(user_input.split(','))

# Prompt the user to enter two sets of strings
set1 = get_string_set("Enter the first set of strings separated by commas: ")
set2 = get_string_set("Enter the second set of strings separated by commas: ")

# Calculate the symmetric difference of the two sets
symmetric_difference = set1 ^ set2

# Print the result
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings separated by commas: 2,3,4,5,2,3,421,1
Enter the second set of strings separated by commas: 2,3,4,5,6,7,6,5,44
Symmetric difference of the two sets: {'421', '6', '1', '7', '44'}

# New Section Q 31  Write a code that takes a list of words as input and returns a dictionary where the  keys are unique wordsand the values are  the frequencies of those words in the input list

In [28]:
from collections import Counter

# Function to count word frequencies
def word_frequencies(word_list):
    return dict(Counter(word_list))

# Example usage
# Input: list of words
word_list = input("Enter a list of words separated by spaces: ").split()

# Get the word frequencies
frequencies = word_frequencies(word_list)

# Print the result
print("Word frequencies:", frequencies)

Enter a list of words separated by spaces: weee rrrr rrrr rrrr
Word frequencies: {'weee': 1, 'rrrr': 3}

# New Section Q 32 Write a code that takes two dictionaries as input and merges them into a single dictionaries. If there arecommon keys the values should be added together.

In [33]:
# Function to merge two dictionaries with summing values for common keys
def merge_dicts(dict1, dict2):
    # Create a new dictionary to hold the merged result
    merged_dict = dict1.copy()  # Start with the first dictionary
    for key, value in dict2.items():  # Iterate through the second dictionary
        if key in merged_dict:
            # If the key is already in the merged dictionary, add the values
            merged_dict[key] += value
        else:
            # Otherwise, add the key-value pair to the merged dictionary
            merged_dict[key] = value
    return merged_dict

# Example usage
# Input: two dictionaries
dict1 = eval(input("Enter the first dictionary: "))
dict2 = eval(input("Enter the second dictionary: "))

# Merge the dictionaries
result = merge_dicts(dict1, dict2)

# Print the result
print("Merged dictionary:", result)

Enter the first dictionary: {'b': 3, 'c': 4, 'd': 5}
Enter the second dictionary: {'a':1,'c':3}
Merged dictionary: {'b': 3, 'c': 7, 'd': 5, 'a': 1}

# New Section Q 33  Write a code to access a value in a nested dictionary. The function should take the dictionary and a list ofkeys as input and return the corresponding value. If any of the keys do not exist in the dictionary thefunction should return None.

In [35]:
def get_nested_value(dictionary, keys):
    """
    Access a value in a nested dictionary using a list of keys.

    :param dictionary: The nested dictionary.
    :param keys: List of keys to access the value.
    :return: The value corresponding to the list of keys or None if any key does not exist.
    """
    current = dictionary
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
            return None
    return current

# Example usage
# Input: nested dictionary and a list of keys
nested_dict = {
    'a': {
        'b': {
            'c': 10
        }
    }
}
keys = input("Enter the list of keys separated by commas: ").split(',')

# Strip whitespace from each key
keys = [key.strip() for key in keys]

# Get the value from the nested dictionary
value = get_nested_value(nested_dict, keys)

# Print the result
print("Value:", value)

Enter the list of keys separated by commas: a,b,c
Value: 10

# New Section Q 34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. Youcan choose whether to sort in ascending or descending order

In [36]:
def sort_dict_by_value(dictionary, ascending=True):
    """
    Sort a dictionary by its values.

    :param dictionary: The dictionary to be sorted.
    :param ascending: If True, sort in ascending order; otherwise, sort in descending order.
    :return: A sorted dictionary based on the values.
    """
    # Sort the dictionary by values
    sorted_dict = dict(sorted(dictionary.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

# Example usage
# Input: dictionary and sort order
input_dict = eval(input("Enter a dictionary: "))
sort_order = input("Enter 'asc' for ascending or 'desc' for descending: ").strip().lower()

# Determine the sorting order
ascending = True if sort_order == 'asc' else False

# Get the sorted dictionary
sorted_dictionary = sort_dict_by_value(input_dict, ascending)

# Print the result
print("Sorted dictionary:", sorted_dictionary)

Enter a dictionary: {'a': 3, 'b': 1, 'c': 2}
Enter 'asc' for ascending or 'desc' for descending: asc
Sorted dictionary: {'b': 1, 'c': 2, 'a': 3}

# New Section Q 35 Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionarycorrectly handles cases where multiple keys have the same value by storing the keys as a list in theinverted dictionary.

In [37]:
def invert_dict(dictionary):
    """
    Invert a dictionary, swapping keys and values.
    If multiple keys have the same value, store the keys in a list.

    :param dictionary: The dictionary to be inverted.
    :return: The inverted dictionary.
    """
    inverted_dict = {}
    for key, value in dictionary.items():
        if value in inverted_dict:
            # Append to the list if the value is already present
            if isinstance(inverted_dict[value], list):
                inverted_dict[value].append(key)
            else:
                inverted_dict[value] = [inverted_dict[value], key]
        else:
            # Add the value as a key with the key as its value
            inverted_dict[value] = key
    return inverted_dict

# Example usage
# Input: dictionary
input_dict = eval(input("Enter a dictionary (e.g., {'a': 1, 'b': 2, 'c': 1}): "))

# Invert the dictionary
inverted_dictionary = invert_dict(input_dict)

# Print the result
print("Inverted dictionary:", inverted_dictionary)

Enter a dictionary (e.g., {'a': 1, 'b': 2, 'c': 1}): {'a': 1, 'b': 2, 'c': 1}
Inverted dictionary: {1: ['a', 'c'], 2: 'b'}